{
  "tabs": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "semi": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "trailingComma": "es5"
}
